#pets{
    display:flex;
    justify-content: space-evenly;
}

.card{
    width: 300px;
    height: auto;
    border: 3px solid black;
    border-radius: 25px;
    padding: 5px;
    margin: 2px;
}

img{
    width:100%;
    border-radius: 25px;
}

h4{
    text-align: end;
    color: rgb(5, 163, 163);
}

h2{
    color: rgba(133, 14, 14, 0.666);
}

span{
    color: rgba(95, 3, 3, 0.666);
}

@media (max-width:375px){
    #pets{
        flex-direction: column;
    }
}