*{
    margin: 0;
    padding: 0;
     
}
header{
    background-color:#0f1111 ;
}
.navbar{
    height: 60px;
    background-color:#0f1111 ;
    border: 3px solid white;
} 
a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 200px;
    padding-top: 50px;

}
#logo{
    font-size: 25px;
    color: #f08804;
}
button{
    background-color: #f08804;
} 
main{
    background-color:  aqua;
    height: 650px;
    width: auto;
    border: 1px solid brown;
}
#div1{
    background-color:rgba(255,00, 00, 0.5) ;
    border: 1px solid green;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 20px;
}

#div2{
    background-color:rgba(00,255, 00, 0.5) ;
    border: 1px solid red;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 20px;
}

#div3{
    background-color:rgba(00,00, 255, 0.5) ;
    border: 1px solid yellow;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 20px;
}

footer{
    text-align: center;
    background-color: #f08804;
}