div{
    background-color: aqua;
    border: 2px solid rgba(6, 69, 163, 0.344);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 200px;
    /* transform: rotate(45deg);
    rotate: x 180deg; */
    transition: all 2s linear 0s;
}
div:hover{
    /* transform: scale(1,2); */
    background-color: tomato;
    /* rotate: 45deg; */
    /* transform: translatey(-200px);
    transform: translate(100px,80px); */
    transform: skew(90deg);
}