div{
    display: inline-block;
    border: 2px solid red;
    height: 100px;
    width: 100px;
    background-color: aqua;
    
}
#box1{
    background-image: url( "cat_photo.jpg");
    background-size: cover;
}
#box2{
    background-image: url( "cat_photo.jpg");
    background-size: contain;
}