* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
  overflow: none;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
p {
  font-size: 1.5em;
  color: whitesmoke;
  font-weight: 0.2px;
}
nav {
  width: 100%;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
.navcontainer {
  /* background-color: rgb(157, 167, 229); */
  background: linear-gradient(to bottom, #ff66ff 0%, #ff99cc 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#navlist {
  list-style: none;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
#anchorcontainer {
  display: flex;
  gap: 40px;
}
.footerbox {
  background: linear-gradient(to bottom, #ff66ff 0%, #ff99cc 100%);
  text-align: center;
  width: 100vw;
}

.contentbox {
  width: 50%;
  height: 85%;
  margin: auto;
  /* border: 1px solid black; */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 50px;
  padding: 40px;
  box-shadow: 0px 0px 30px 1px black;
}
.item1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.item2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rightbox {
  transition: all 2s linear 0s;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.rightbox img {
  border-radius: 60px;
  width: 100%;
  height: 100%;
}

.leftbox {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.leftbox h2 {
  font-size: 40px;
}
.ingradientbox {
  font-size: 20px;
}

.receipebox {
  font-size: 20px;
}

.rightbox:hover {
  transform: scale(1.2);
}

.rightbox #overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(27, 21, 21, 0.811);
  top: 0;
  left: 0;
  border-radius: 60px;
  text-align: center;
  color: tomato;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.4s linear 0s;
}

.rightbox:hover #overlay{
  opacity: 1;
}
