div {
  background-color: aqua;
  border: 2px solid rgba(6, 69, 163, 0.344);
  width: 100px;
  height: 100px;
  position: absolute;
  /* top: 100px;
  left: 200px; */
  /* animation-name: coloranimate;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  animation: coloranimate 4s linear 0s infinite alternate;
}
/* 
@keyframes coloranimate {
  from {
    background-color: aqua;
    left: 0px;
  }
  to {
    background-color: blueviolet;
    left: 200px;
  }
}
  */

@keyframes coloranimate {
  0% {
    background-color: aqua;
    left: 0px;
    top: 0px;
  }
  50% {
    background-color: tomato;
    left: 100px;
    top: 2oopx;
  }
  100% {
    background-color: blueviolet;
    left: 200px;
    top: 0px;
  }
}
