*{
    font-family: 'Courier New', Courier, monospace;
}

h1,h3{
    color: #b92b27;
}
#login{
    color: rgba(253, 5, 5, 0.362);
}

.upvote{
    background-color: green;
}

.upvote + button{
    color: blueviolet;
}