*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 350px;
    height: 500px;
    background-color: #ffffffe5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center; 
    gap:15px;
}
#image{
    border-radius: 20px;
    height: 60%;
    width: auto;
}